# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/
# Django migrations
apps/*/migrations/*.py
!apps/*/migrations/__init__.py
# OS
.DS_Store
Thumbs.db